.wuziqi{
  width:450px;
  height: 450px;
  margin:0 auto 0;
}
canvas{
  display: block;
  box-shadow: -2px -2px 2px #efefef,5px 5px 5px #b9b9b9
}
.gametitle{
  width:450px;
  margin:0 auto;
  height: auto;
  overflow: hidden;
  padding:20px 0;
}
.gametitle p{
  width: 50%;
  float:left;
  line-height: 40px;
  text-align: center;
}